[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

django = "==2.0.2"
django-environ = "==0.4.4"
django-crispy-forms = "==1.7.1"
django-model-utils = "==3.1.1"
pillow = "==5.0.0"
"argon2-cffi" = "==18.1.0"
django-allauth = "==0.35.0"
"psycopg2" = "==2.7.4"
awesome-slugify = "==1.6.5"
pytz = "==2018.3"
django-redis = "==4.9.0"
redis = ">=2.10.5"
coverage = "==4.5.1"
django-coverage-plugin = "==1.5.0"
sphinx = "==1.7.1"
django-extensions = "==2.0.0"
werkzeug = "==0.14.1"
django-test-plus = "==1.0.22"
factory-boy = "==2.10.0"
django-debug-toolbar = "==1.9.1"
ipdb = "==0.11"
pytest-django = "==3.1.2"
pytest-sugar = "==0.9.1"
djangorestframework = "*"
django-taggit = "*"
djangorestframework-jwt = "*"
django-taggit-serializer = "*"
django-rest-auth = "*"
django-cors-headers = "*"


[dev-packages]



[requires]

python_version = "3.5"
